/*font-family: 'Montserrat', sans-serif;
font-family: 'Crimson Text', serif;*/
html,
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
main {
  padding-bottom: 60px;
}
header {
  background-image: url("/images/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin-bottom: 10px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: white;
}
/* header logos  */
header img {
  width: 120px;
  height: 120px;
}
/* "Toronto Puppy Rescue" text  */
header h1 {
  margin: 30px;
  color: white;
  text-decoration: none;
  display: inline;
  text-shadow: 2px 2px black;
}
header a {
  text-decoration: none;
}
/* links to sort the cards  */
aside {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 10px 20px 20px;
  opacity: 0.95;
}
aside button {
  font-size: 15px;
  font-weight: 200;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: lightgray;
  margin-left: 10px;
  box-shadow: none;
  padding: 0 5px;
}
aside button:hover {
  background-color: darkgrey;
}
aside button:focus {
  outline: 0;
}
aside button:last-child {
  background-color: black;
}
#f-all {
  padding-left: 15px;
  padding-right: 15px;
}
#f-small,
#f-large {
  padding-left: 5px;
  padding-right: 5px;
}
/* cards on index  */
.card-container {
  width: 100%;

  padding: 0 5%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.item {
  max-width: 300px;
  font-family: "Crimson Text", serif;
  padding-bottom: 20px;
}

.item img {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  width: 100%;
}
.card-name {
  display: block;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.card-breed {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
.card-description {
  display: block;
  font-size: 16px;
  font-style: italic;
  color: rgb(82, 82, 82);
}
.card-category {
  display: block;
  color: #bb4a46;
  font-size: 16px;
}
.card-price {
  display: inline-block;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 100%;
  padding: 50px 0;
  background-color: #c9944f;
}
/* footer info  */
ul {
  list-style: none;
}
li address {
  text-align: center;
  color: white;
  font-size: 14px;
}
li img {
  width: 125px;
  padding: 50px;
}
li address {
  padding: 20px;
}
/* footer form  */
.f-form {
  display: flex;
  justify-content: space-around;
  align-self: center;
}
.f-form input {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid gray;
  border-radius: 4px;
}
.f-form input:last-child {
  background-color: black;
  color: white;
}

/* contact page  */
.subtitle {
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 500px;
  padding: 50px 0;
}

.c-form input,
textarea,
datalist {
  font: 95% Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 0 25px 40px;
  padding: 5px;
  background-color: white;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 2px;
}

.c-form input::placeholder {
  color: #c9944f;
}

.c-form textarea {
  height: 6em;
}

#c-submit {
  padding: 10px;
  border: 0;
  color: white;
  background-color: #c9944f;
}

.isHidden {
  display: none;
}

/* PHONE landscape & smaller */
@media all and (max-width: 568px) {
  header {
    height: 180px;
    font-size: 10px;
  }
  header img {
    height: 50px;
    width: 50px;
  }
  aside {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 10px 10px;
  }
  aside button {
    font-size: 10px;
    font-weight: 250;
    height: 25px;
  }
  .card-container {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
  }
  footer img {
    height: 50px;
    width: 50px;
    padding: 20px;
  }
  .f-form input {
    width: 100px;
  }
  .c-form {
    padding: 20px 0;
  }
  .c-form input,
  textarea,
  datalist {
    font-size: 10px;
    margin: 0 0 15px 0px;
  }
  .c-form textarea {
    height: 4em;
  }
  label {
    font-size: 13px;
  }
}
/* for horizontal */
@media all and (min-width: 480px) and (max-width: 768px) {
  header {
    height: 180px;
    font-size: 20px;
  }
  header img {
    height: 75px;
    width: 75px;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
  }
  footer img {
    height: 100px;
  }
  aside {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    font-weight: 300;
    padding: 5px 10px 10px;
  }
  aside button {
    font-size: 10px;
    font-weight: 250;
    height: 25px;
  }
}
